<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/contruccion_abstractFactory/src/contruccion_abstractFactory/libro/Catalogo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="contruccion_abstractFactory.libro.Catalogo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="contruccion_abstractFactory"/>
</launchConfiguration>
